package ${packageName}.${moduleName}.${subpackageName};

import lombok.Data;
import lombok.EqualsAndHashCode;
import com.baomidou.mybatisplus.annotation.TableName;
import com.fasterxml.jackson.annotation.JsonFormat;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
#if(${hasLocalDateTime})
import java.time.LocalDateTime;
#end

/**
 * ${businessName} 实体
 *
 * @author ${author}
 * @since ${date}
 */
@Data
@EqualsAndHashCode(callSuper = true)
@TableName("${tableName}")
public class ${entityName} {

#if($fieldConfigs)
    #foreach($fieldConfig in ${fieldConfigs})
        #if("$!fieldConfig.fieldComment" != "")
    /** ${fieldConfig.fieldComment} */
        #end
    private ${fieldConfig.fieldType} ${fieldConfig.fieldName};
        #end
    #end
#end

}


