<template>
  <div class="app-container">
    <div class="search-container">
      <el-form ref="queryFormRef" :model="queryParams" :inline="true">
        #foreach($fieldConfig in $fieldConfigs)
          #if($fieldConfig.isShowInQuery == 1)
            <el-form-item label="$fieldConfig.fieldComment" prop="$fieldConfig.fieldName">
                    #if($fieldConfig.formType == "INPUT")
                      <el-input
                          v-model="queryParams.$fieldConfig.fieldName"
                          placeholder="$fieldConfig.fieldComment"
                          clearable
                          @keyup.enter="handleQuery()"
                      />
                    #elseif($fieldConfig.formType == "SELECT")
                        #if($fieldConfig.dictType && $fieldConfig.dictType.trim() != "")
                          <Dict v-model="queryParams.$fieldConfig.fieldName" code="$fieldConfig.dictType" />
                        #else
                          <el-select v-model="queryParams.$fieldConfig.fieldName" placeholder="请选择$fieldConfig.fieldComment">
                            <el-option :key="1" :value="1" label="选项一"/>
                            <el-option :key="2" :value="2" label="选项二"/>
                          </el-select>
                        #end
                    #elseif($fieldConfig.formType == "RADIO")
                        #if($fieldConfig.dictType && $fieldConfig.dictType.trim() != "")
                          <Dict v-model="queryParams.$fieldConfig.fieldName" type="radio" code="$fieldConfig.dictType" />
                        #else
                          <el-radio-group v-model="queryParams.$fieldConfig.fieldName">
                            <el-radio :key="1" :value="1">选项一</el-radio>
                            <el-radio :key="2" :value="2">选项二</el-radio>
                          </el-radio-group>
                        #end
                    #elseif($fieldConfig.formType == "CHECK_BOX")
                        
                    #end
            </el-form-item>
          #end
        #end
      </el-form>
    </div>
    <!-- content omitted for brevity in template copy -->
  </div>
</template>


